---
title: クラウドプレイアウトチャネルの管理
description: Brightcove Cloud Playoutは、VODカタログからのアイテムのスケジュールされたプレイアウトをライブフィードと組み合わせてプログラムし、BrightcoveLiveの信頼性とスケーラビリティを備えたリニアチャンネルとしてストリーミングできるようにするStudioモジュールです。
parent: Home
---
 <h1>{{ page.title }}</h1>
<article class="landing-page-wrapper">
  <summary>{{ page.description }}</summary>
  <section class="bcls-topic-list">
    <h2 id="Topics_in_this_section">トピック</h2>
    <ul>
      {% for item in site.data.navigation %} {% if item.name == page.title %} {% for doc in item.docs %}
      <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
      {% endfor %} {% endif %} {% endfor %}
    </ul>
  </section>
</article>